services:
  mariadb:
    image: mariadb:latest
    container_name: mariadb_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_password
      MYSQL_DATABASE: development_db
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: ghcr.io/merwanel/defi-fullstack-backend:latest
    pull_policy: missing
    build:
      context: ./backend
    depends_on:
      mariadb:
        condition: service_healthy
    container_name: backend_app
    ports:
      - "8080:80"
    volumes:
      - ./backend:/var/www/html
    environment:
      DB_HOST: mariadb
      DB_PORT: 3306
      DB_NAME: development_db
      DB_USER: app_user
      DB_PASSWORD: app_password
      REDIS_HOST: redis-cache
      REDIS_PORT: 6379
    healthcheck:
      test: [ "CMD", "php", "-r", "file_get_contents('http://localhost/api/v1/status') !== false || exit(1);" ]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    image: ghcr.io/merwanel/defi-fullstack-frontend:latest
    pull_policy: missing
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      backend:
        condition: service_healthy
    container_name: frontend_app
    ports:
      - "3000:8080"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis-cache:
    image: redis:8.4.0-alpine3.22
    ports:
      - '6379:6379'
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      retries: 3
      start_period: 5s
    volumes:
      - redis_data:/data

  success-message:
    image: alpine:latest
    depends_on:
      backend:
        condition: service_healthy
      frontend:
        condition: service_healthy
    command: sh -c "echo 'Backend is up at http://localhost:8080/status' && echo 'Frontend is up at http://localhost:3000'"

volumes:
  mariadb_data:
  redis_data:
