name: Backend Tests

on:
  push:
    branches: [ main ]
    paths:
      - 'backend/**'
      - '.github/workflows/backend-test-build-push.yaml'
      - 'docker-build-push.yml'
      - 'actions/calver/actions.yml'
  
jobs:
  backend-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    permissions:
      contents: read
      checks: write
    
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    
    - name: Setup PHP with composer
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4'
        extensions: pdo_sqlite
        tools: composer

    - name: Install dependencies
      run: composer install

    - name: PHPStan
      run: composer analyse

    - name: Run tests
      run: composer test:coverage
    
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./backend/coverage.xml,./backend/junit.xml
        flags: backend
        name: backend-coverage

  backend-build-and-push:
    needs: backend-tests
    uses: ./.github/workflows/docker-build-push.yml
    with:
      service: backend
    secrets:
      personal-access-token: ${{ secrets.PAT }}